{
  "commands": [
    {
      "name": "help",
      "massage": "Я ничего не умею. Я ни на что не способен."
    },
    {
      "name": "commands",
      "message": "Тут нет никаких комманд кроме:",
      "buttons": [
        {
          "text": "/help",
          "new_raw": true
        },
        {
          "text": "/commands"
        }
      ]
    }
  ],
  "triggers": [
    {
      "name": "Лох",
      "message": "Сам ты лох! Нашел кому такое писать, тоже мне.."
    }
  ],
  "planed_messages": [
    {
      "planed_time": "TODO: Хз какой формат даты выбрать",
      "message": "Привет потомки! Это сообщение для всех!",
      "users": []
    },
    {
      "planed_time": "TODO: Хз какой формат даты выбрать",
      "message": "Это сообщение только для избранных!",
      "users": ["321321321", "123123123"]
    }
  ]
}